/authorized_keys
/authorized_keys-replica-grapheneos
/authorized_keys-replica-network
/authorized_keys-replica-ns2
/authorized_keys-replica-releases
/authorized_keys-staging-attestation
/passwords/
/modules/
/sysctl/
/units/
/logs/
*.tmp
/ovh-mitigation.json
/ovh-mitigation.txt
/venv/
