/authorized_keys
/authorized_keys-replica-grapheneos
/authorized_keys-replica-ns1
/authorized_keys-replica-ns2
/authorized_keys-staging-attestation
/lock
/logs/
/modules/
/passwords/
/ssh.sh
/sysctl/
/tmp
/units/
/venv/
