[Match]
Name=host0

[Network]
# AS40806 (GrapheneOS) 91.246.30.0/24 subnet for Toronto
Address=91.246.30.3/32

# AS40806 (GrapheneOS) 2602:f4d9:5:2::/64 subnet for yto.ns2.grapheneos.org from 2602:f4d9:5::/48 subnet for Toronto
Address=2602:f4d9:5:2::1/128

# 23.149.125.0/24 anycast subnet for ns2 instances
[Address]
Address=23.149.125.1/32
PreferredLifetime=0

# 2602:f4d9:1::/48 anycast subnet for ns2 instances
[Address]
Address=2602:f4d9:1::1/128
PreferredLifetime=0

# 2602:f4d9:3::/48 anycast subnet for ns2 instances
[Address]
Address=2602:f4d9:3::1/128
PreferredLifetime=0

[Route]
Destination=0.0.0.0/0
Gateway=91.246.30.1
PreferredSource=91.246.30.3

[Route]
Destination=91.246.30.1
PreferredSource=91.246.30.3

[Route]
Destination=::/0
Gateway=fe80::1
PreferredSource=2602:f4d9:5:2::1

[Route]
Destination=fe80::1
PreferredSource=2602:f4d9:5:2::1
