[Match]
Name=ve-yto.ns2.grapheneos.org

[Network]
Address=91.246.30.1/32
Address=fe80::1/64

[Route]
Destination=91.246.30.3

[Route]
Destination=2602:f4d9:5:2::1

[Route]
Destination=23.149.125.1

[Route]
Destination=2602:f4d9:1::1

[Route]
Destination=2602:f4d9:3::1
