[Unit]
Description=Nightly run certbot-ocsp-fetcher

[Timer]
OnCalendar=*-*-* 01:00:00
RandomizedDelaySec=21600
Persistent=true

[Install]
WantedBy=timers.target
