[Match]
Name=eth0

[Network]
DHCP=ipv4
LinkLocalAddressing=no
Address=2607:5300:205:200::b44/128
Gateway=2607:5300:205:200::1

[Route]
Destination=2607:5300:205:200::1

[DHCP]
UseMTU=true

[CAKE]
Bandwidth=250M
PriorityQueueingPreset=besteffort
