[Match]
Name=eth0

[Network]
DHCP=ipv4
LinkLocalAddressing=no
Address=2607:5300:201:3100::6210/128
Gateway=2607:5300:201:3100::1

[Route]
Destination=2607:5300:201:3100::1

[DHCP]
UseMTU=true

[CAKE]
Bandwidth=2000M
PriorityQueueingPreset=besteffort
