[Match]
Name=eth0

[Network]
DHCP=ipv4
LinkLocalAddressing=ipv6
Address=2001:41d0:304:200::a087/128
Gateway=2001:41d0:304:200::1

[Route]
Destination=2001:41d0:304:200::1

[DHCP]
UseMTU=true

[CAKE]
Bandwidth=250M
PriorityQueueingPreset=besteffort
