[Match]
Name=eth0

[Network]
DHCP=ipv4
LinkLocalAddressing=ipv6
Address=2402:1f00:8000:800::25ba/128
Gateway=2402:1f00:8000:800::1

[Route]
Destination=2402:1f00:8000:800::1

[DHCP]
RouteMetric=100
UseMTU=true

[CAKE]
Bandwidth=250M
PriorityQueueingPreset=besteffort
