[Match]
Name=public

[Network]
DHCP=ipv4
LinkLocalAddressing=no
Address=2402:1f00:8000:800::e14/128

[Route]
Destination=::/0
Gateway=2402:1f00:8000:800::1
PreferredSource=2402:1f00:8000:800::e14

[Route]
Destination=2402:1f00:8000:800::1
PreferredSource=2402:1f00:8000:800::e14

[DHCP]
UseMTU=true

[CAKE]
Bandwidth=250M
PriorityQueueingPreset=besteffort
