[Match]
Name=public

[Network]
DHCP=ipv4
LinkLocalAddressing=no
Address=2402:1f00:8000:800::25ba/128
Gateway=2402:1f00:8000:800::1

[Route]
Destination=2402:1f00:8000:800::1

[DHCP]
UseMTU=true

[CAKE]
Bandwidth=250M
PriorityQueueingPreset=besteffort
