[Match]
Name=eth0

[Network]
DHCP=ipv4
LinkLocalAddressing=no
Address=2001:41d0:701:1100::2ec9/128
Gateway=2001:41d0:701:1100::1

[Route]
Destination=2001:41d0:701:1100::1

[DHCP]
UseMTU=true

[CAKE]
Bandwidth=2000M
PriorityQueueingPreset=besteffort
