[Match]
Name=public

[Network]
DHCP=ipv4
LinkLocalAddressing=no
Address=2001:41d0:701:1100::3e56/128
Gateway=2001:41d0:701:1100::1

[Route]
Destination=2001:41d0:701:1100::1

[DHCP]
UseMTU=true

[CAKE]
Bandwidth=2000M
PriorityQueueingPreset=besteffort
SplitGSO=false
