[Match]
Name=eth0

[Network]
DHCP=ipv4
LinkLocalAddressing=ipv6
Address=2607:5300:205:200:0:0:0:3df/128
Gateway=2607:5300:205:200::1

[Route]
Destination=2607:5300:205:200::1

[DHCP]
UseMTU=true

[CAKE]
Bandwidth=500M
PriorityQueueingPreset=besteffort
