[Match]
Name=public

[Network]
DHCP=ipv4
LinkLocalAddressing=no
Address=2607:5300:205:200:0:0:0:3df/128
Gateway=2607:5300:205:200::1

[Route]
Destination=2607:5300:205:200::1

[DHCP]
UseMTU=true

[CAKE]
Bandwidth=500M
PriorityQueueingPreset=besteffort
