[Match]
Name=eth0

[Network]
DHCP=ipv4
LinkLocalAddressing=ipv6
Address=2607:5300:205:200::26e1/128
Gateway=2607:5300:205:200::1

[Route]
Destination=2607:5300:205:200::1

[DHCP]
UseMTU=true

[CAKE]
Bandwidth=1000M
PriorityQueueingPreset=besteffort
