[Match]
Name=public

[Network]
DHCP=ipv4
Address=2a0e:6902:5010:d9:26a3:f0ff:fe48:de47/64

# 23.149.125.0/24 anycast subnet for ns2 instances
[Address]
Address=23.149.125.1/32
PreferredLifetime=0

# 2602:f4d9:1::/48 anycast subnet for ns2 instances
[Address]
Address=2602:f4d9:1::1/128
PreferredLifetime=0

# 2602:f4d9:3::/48 anycast subnet for ns2 instances
[Address]
Address=2602:f4d9:3::1/128
PreferredLifetime=0

[DHCP]
UseMTU=true
