[Match]
Name=public

[Network]
DHCP=ipv4
LinkLocalAddressing=no
Address=2604:2dc0:202:300::23a6/128

[Route]
Destination=::/0
Gateway=2604:2dc0:202:300::1
PreferredSource=2604:2dc0:202:300::23a6

[Route]
Destination=2604:2dc0:202:300::1
PreferredSource=2604:2dc0:202:300::23a6

[DHCP]
UseMTU=true

[CAKE]
Bandwidth=500M
PriorityQueueingPreset=besteffort
FlowIsolationMode=dual-dst-host
