[Match]
Name=public

[Network]
DHCP=ipv4
LinkLocalAddressing=no
Address=2001:41d0:701:1100::245b/128

[Route]
Destination=::/0
Gateway=2001:41d0:701:1100::1
PreferredSource=2001:41d0:701:1100::245b

[Route]
Destination=2001:41d0:701:1100::1
PreferredSource=2001:41d0:701:1100::245b

[DHCP]
UseMTU=true

[CAKE]
Bandwidth=500M
PriorityQueueingPreset=besteffort
FlowIsolationMode=dual-dst-host
SplitGSO=false
