[Match]
Name=public

[Network]
LinkLocalAddressing=no
Address=159.195.67.50/22
Address=2a0a:4cc0:c2:1cf3::1/64

[Route]
Destination=0.0.0.0/0
Gateway=159.195.64.1
PreferredSource=159.195.67.50

[Route]
Destination=159.195.64.1
PreferredSource=159.195.67.50

[Route]
Destination=::/0
Gateway=fe80::1
PreferredSource=2a0a:4cc0:c2:1cf3::1

[Route]
Destination=fe80::1
PreferredSource=2a0a:4cc0:c2:1cf3::1
