[Match]
Name=public

[Network]
LinkLocalAddressing=no
Address=107.189.3.168/24
Address=2605:6400:30:ec25:102c:af6d:5be:1eb8/48

# 23.149.124.0/24 anycast subnet for ns2 instances
[Address]
Address=23.149.124.1/32
PreferredLifetime=0

# 2602:f4d9:1::/48 anycast subnet for ns2 instances
[Address]
Address=2602:f4d9:1::1/128
PreferredLifetime=0

# 2602:f4d9:3::/48 anycast subnet for ns2 instances
[Address]
Address=2602:f4d9:3::1/128
PreferredLifetime=0

# fallback anycast address for BuyVM ns2 instances
[Address]
Address=198.251.90.93/32
PreferredLifetime=0

[Route]
Destination=0.0.0.0/0
Gateway=107.189.3.1
PreferredSource=107.189.3.168

[Route]
Destination=107.189.3.1
PreferredSource=107.189.3.168

[Route]
Destination=::/0
Gateway=2605:6400:30::1
PreferredSource=2605:6400:30:ec25:102c:af6d:5be:1eb8

[Route]
Destination=2605:6400:30::1
PreferredSource=2605:6400:30:ec25:102c:af6d:5be:1eb8
