[Match]
Name=public

[Network]
DHCP=ipv4
Address=2001:19f0:9002:2981:5400:05ff:fec1:65c4/64

# 23.149.124.0/24 anycast subnet for ns1 instances
[Address]
Address=23.149.124.1/32
PreferredLifetime=0

# 2602:f4d9::/48 anycast subnet for ns1 instances
[Address]
Address=2602:f4d9::1/128
PreferredLifetime=0

# 2602:f4d9:2::/48 anycast subnet for ns1 instances
[Address]
Address=2602:f4d9:2::1/128
PreferredLifetime=0

[DHCP]
UseMTU=true
