[Match]
Name=public

[Network]
IPv6AcceptRA=no
Address=159.195.46.80/22
Address=2a0a:4cc0:c1:9de2::1/64

[Route]
Destination=0.0.0.0/0
Gateway=159.195.44.1
PreferredSource=159.195.46.80

[Route]
Destination=159.195.44.1
PreferredSource=159.195.46.80

[Route]
Destination=::/0
Gateway=fe80::1
PreferredSource=2a0a:4cc0:c1:9de2::1

[Route]
Destination=fe80::1
PreferredSource=2a0a:4cc0:c1:9de2::1
