[Match]
Name=public

[Network]
IPv6AcceptRA=no
Address=152.53.39.88/22
Address=2a0a:4cc0:2000:dbc::1/64

[Route]
Destination=0.0.0.0/0
Gateway=152.53.36.1
PreferredSource=152.53.39.88

[Route]
Destination=152.53.36.1
PreferredSource=152.53.39.88

[Route]
Destination=::/0
Gateway=fe80::1
PreferredSource=2a0a:4cc0:2000:dbc::1

[Route]
Destination=fe80::1
PreferredSource=2a0a:4cc0:2000:dbc::1
