[Match]
Name=public

[Network]
IPv6AcceptRA=no
Address=152.53.168.153/22
Address=2a0a:4cc0:2000:aa27::1/64

[Route]
Destination=0.0.0.0/0
Gateway=152.53.168.1
PreferredSource=152.53.168.153

[Route]
Destination=152.53.168.1
PreferredSource=152.53.168.153

[Route]
Destination=::/0
Gateway=fe80::1
PreferredSource=2a0a:4cc0:2000:aa27::1

[Route]
Destination=fe80::1
PreferredSource=2a0a:4cc0:2000:aa27::1
