[Match]
Name=ve-fra.ns2.grapheneos.org

[Network]
Address=fe80::1/64

[Route]
Destination=87.249.129.102

[Route]
Destination=2a02:6ea0:c75f:1::1

[Route]
Destination=23.149.125.1

[Route]
Destination=2602:f4d9:1::1

[Route]
Destination=2602:f4d9:3::1
