[Unit]
Requires=sys-subsystem-net-devices-public.device
After=sys-subsystem-net-devices-public.device

[Service]
Type=oneshot
ExecStart=/usr/bin/tc qdisc replace dev public root handle 1 mq
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:1 handle 1001 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:2 handle 1002 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:3 handle 1003 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:4 handle 1004 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:5 handle 1005 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:6 handle 1006 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:7 handle 1007 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:8 handle 1008 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:9 handle 1009 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:a handle 100a fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:b handle 100b fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:c handle 100c fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:d handle 100d fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:e handle 100e fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:f handle 100f fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:10 handle 1010 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:11 handle 1011 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:12 handle 1012 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:13 handle 1013 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:14 handle 1014 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:15 handle 1015 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:16 handle 1016 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:17 handle 1017 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1
ExecStart=/usr/bin/tc qdisc replace dev public parent 1:18 handle 1018 fq bands 3 priomap 1 2 2 2 0 2 0 0 1 1 1 1 1 1 1 1

[Install]
WantedBy=sys-subsystem-net-devices-public.device
