[Unit]
Description=Create TLS session ticket keys
Before=dnsdist.service nginx.service

[Service]
ExecStart=/usr/local/bin/create-session-ticket-keys
Group=tls
Type=oneshot
UMask=0027

[Install]
WantedBy=multi-user.target
