[Unit]
Description=Run rotate-session-ticket-keys every 6 hours
After=create-session-ticket-keys.service
Requires=create-session-ticket-keys.service

[Timer]
OnActiveSec=6h
OnUnitActiveSec=6h

[Install]
WantedBy=timers.target
