[Unit]
Description=Run rotate-session-ticket-keys three times daily
After=create-session-ticket-keys.service
Requires=create-session-ticket-keys.service

[Timer]
OnActiveSec=8h
OnUnitActiveSec=8h

[Install]
WantedBy=timers.target
