[Unit]
Description=Rotate TLS session ticket keys
After=dnsdist.service nginx.service create-session-ticket-keys.service
Requires=create-session-ticket-keys.service

[Service]
ExecStart=/usr/local/bin/rotate-session-ticket-keys
Group=tls
Type=oneshot
UMask=0027
