[Unit]
Description=Rotate TLS session ticket keys
After=dnsdist.service nginx.service session-ticket-keys-create.service
Requires=session-ticket-keys-create.service

[Service]
ExecStart=/usr/local/bin/session-ticket-keys-rotate
Group=tls
Type=oneshot
UMask=0027
