[Unit]
Description=Rotate session ticket keys every 6 hours
After=session-ticket-keys-create.service
Requires=session-ticket-keys-create.service

[Timer]
OnActiveSec=6h
OnUnitActiveSec=6h

[Install]
WantedBy=timers.target
