[Unit]
Description=Run tcp-fastopen-rotate-keys daily

[Timer]
AccuracySec=1us
OnCalendar=daily UTC
Persistent=true

[Install]
WantedBy=timers.target
